@using Devgram.Web.ViewComponents

@section Head {
    <link rel="stylesheet" href="~/css/pages/acesso-negado.css" asp-append-version="true"/>
    <title>Devgram • Acesso negado </title>
}

<vc:header-component></vc:header-component>


<div class="content">
    <div class="unauthorize-content">
        <p class="title">401 - Acesso negado</p>
        <p class="descricao">
            Você não possui permissão de acesso a está página, por favor realize o login para continuar.
        </p>
    </div>
</div>