@import '../base/variables.css';
@import "../components/input.css";
@import "../components/button.css";

.post-container {
    padding-top: 7rem;
    overflow: auto;
    align-items: center;
    gap: 2.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
} 

.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card-content {
    padding: 15px;
}

.card-title {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.card-description {
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: var(--purple);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    transition: background-color 300ms ease;
}

.btn:hover {
    background-color: var(--orange);
}

@media (max-width: 1366px) {
    .post-container {
        display: grid;
        grid-template-columns: 1fr;
    }
}