@import '../base/variables.css';
@import "../components/input.css";
@import "../components/button.css";

.login-container {
    position: relative;
    height: 100vh;
    background-image: url("../../images/login/login-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.login-card {
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    border-radius: var(--radius);
    padding: 5rem;
    border: 1px solid var(--grey);
    box-shadow: -1px -1px 143px -27px rgba(163,163,163,1);
    background-color: var(--white);
}

.login-title {
    font-size: var(--size-24);
    font-weight: 600;
    position: relative;
    margin-bottom: 1rem;
}

.login-subtitle {
    font-size: var(--size-16);
    font-weight: 400;
    position: relative;
}

.login-title:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    bottom: var(--size-5);
    height: var(--size-4);
    width: 3rem;
    background-color: #FF8A54;

}