@using Devgram.Web.Extensions
@using Devgram.Web.ViewComponents

@section Head {
    <link rel="stylesheet" href="~/css/pages/home.css" asp-append-version="true"/>
    <title>Devgram • Home</title>
}

@model List<Devgram.ViewModel.PublicacaoResponseModel>

<vc:header-component></vc:header-component>

<div class="post-container global-container">
    @foreach (var publicacao in Model)
    {
        <div class="card">
            <img src="@publicacao.Logo" alt="Post Image" class="card-image">
            <div class="card-content">
                <h2 class="title">@publicacao.Titulo.Truncate(50)</h2>
                <p class="card-description">@publicacao.Descricao.Truncate(200)</p>
            </div>
            <div class="card-footer">
                <button class="btn">Ler Mais</button>
            </div>
        </div>
    }
</div>